
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="PropertyProjectController">

    <h2>Add Project</h2>
    <div>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Project Name &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
            <input type="text" class="form-control" placeholder="Project Name" data-ng-model="project.PName" value="{{project.PName}}" aria-describedby="sizing-addon2">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Company Name&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" data-ng-model="project.CompanyName" placeholder="Company Name" value="{{project.CompanyName}}" aria-describedby="sizing-addon2">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Company Address</span>
            <textarea class="form-control" data-ng-model="project.Address" rows="3">{{project.Address}}</textarea>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Office Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <textarea class="form-control" data-ng-model="project.OfficeAddress" rows="3">{{project.OfficeAddress}}</textarea>
        </div>
        <br />
        <h2><span ng-click="AddProjectSave()" class="btn btn-primary">Save</span></h2>
    </div>
</div>
@section scripts {
    <script src="~/App/controllers/ProjectCtrl.js"></script>
}